<div class="nested-fields">
  <div class ="row">
  <div class="col-md-3">
    <%= f.label :expend_category_id %><br>
    <%= f.number_field :expend_category_id %>
  </div>
  <div class="col-md-3">
    <%= f.label :prefix_id %><br>
    <%= f.number_field :prefix_id %>
  </div>
  <div class="col-md-3">
    <%= f.label :entity_type_id %><br>
    <%= f.number_field :entity_type_id %>
  </div>
  <div class="col-md-3">
    <%= f.label :businessname %><br>
    <%= f.text_field :businessname %>
  </div>
  <div class="col-md-3">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="col-md-3">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="col-md-3">
    <%= f.label :state_id %><br>
    <%= f.number_field :state_id %>
  </div>
  <div class="col-md-3">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="col-md-3">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="col-md-3">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="col-md-3">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="col-md-3">
    <%= f.label :isbenefitcoh %><br>
    <%= f.check_box :isbenefitcoh %>
  </div>
  <div class="col-md-3">
    <%= f.label :istraveloutsidetx %><br>
    <%= f.check_box :istraveloutsidetx %>
  </div>
  <div class="col-md-3">
    <%= f.label :isaustintxlivingexpense %><br>
    <%= f.check_box :isaustintxlivingexpense %>
  </div>
  </div>
</div>
<%= link_to_remove_association "Remove", f %>
</div>
