<div class="nested-fields">
  <div class ="row">
  <div class="col-md-3">
    <%= f.label :committee_type_id, size: "30x2" %><br>
    <%= f.number_field :committee_type_id %>
  </div>
  <div class="col-md-3">
    <%= f.label :name, 'Committee Name',size: "30x2" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="col-md-3">
    <%= f.label :address,'Committee Add' %><br>
    <%= f.text_field :address %>
  </div>
  <div class="col-md-3">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="col-md-3">
    <%= f.label :state_id %><br>
    <%= f.number_field :state_id %>
  </div>
  <div class="col-md-3">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
</div>
  </div>
<%= link_to_remove_association "Remove", f %>
</div>
