<%= form_for(@campaign_finance_info, layout: :inline, html:{ target: "blank"}) do |f| %>
<div class="container">

  <div class="col-md-12 col-sm-12 col-xs-12">
    <h3></h3>
    <div class="panel-group wrap" id="bs-collapse">

      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#bs-collapse" href="#one">

              General Campaign Information
            </a>
          </h4>
        </div>
        <div id="one" class="panel-collapse collapse">
          <div class="panel-body">

            <%= form_for @campaign_finance_info,:validate => true do |f| %>
                <% if @campaign_finance_info.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@campaign_finance_info.errors.count, "error") %></h2>

                      <ul>
                        <% @campaign_finance_info.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>
                <div class ="row">
                <div class="col-md-6">
                   <%= f.label :filename, 'Report Name' %>
                   <%= f.text_field :filename %>
                </div>
                <div class="col-md-6">
                  <%= f.label :report_type_id, 'Report Type' %>
                  <%= f.collection_select :report_type_id, ReportType.all, :id, :rtype,{ prompt: "Select One" }%>
                </div>
                <div class="col-md-6">
                  <%= f.label :candidate_id %>
                  <%= collection_select :campaign_finance_info, :candidate_id, Candidate.all.collect { |f| [ f.id, "#{f.firstname} #{f.lastname}" ] }, :first, :last, { prompt: "Select a Candidate" } %>
                </div>
                <div class="col-md-6">
                  <%= f.label :treasurer_id %>
                  <%= collection_select :campaign_finance_info, :treasurer_id, Treasurer.all.collect { |f| [ f.id, "#{f.firstname} #{f.lastname}" ] }, :first, :last, { prompt: "Select a Filer" }%>
                </div>
                <div class="col-md-6">
                  <%= f.label :campaignyear, 'Campaign Year', size:"10x2" %>
                  <%= f.text_field :campaignyear %>
                </div>
                <div class="col-md-6">
                  <h4 style="color:blue;">Period Covered</h4>
                  <%= f.label :periodbegin,'Beginning Date' %>
                  <%= f.date_select :periodbegin %>
                </div>
                  <div class="col-md-6">
                    <%= f.label :sudmitdate, 'Date to Submit By' %>
                    <%= f.date_select :sudmitdate %>
                  </div>
                <div class="col-md-6">
                  <h4 style="color:blue;">Election</h4>
                  <%= f.label :electiondate, 'Election Date' %>
                  <%= f.date_select :electiondate %>
                </div>
                  <div class="col-md-6">
                    <%= f.label :periodend, 'Ending Date' %>
                    <%= f.date_select :periodend %>
                  </div>
                  <div class="col-md-6">
                    <%= f.label :election_type_id, 'Election Type' %>
                    <%= f.collection_select :election_type_id, ElectionType.all, :id, :ectype,{ prompt: "Select One" } %>
                  </div><br><br><br>

                  <% case $ontime %>
                  <% when '1' %>

                      <div class="col-md-6">
                         <%= f.label :ontime, 'By checking this box you are indication report will be submitted on time.' %><br>
                         <%= f.check_box :ontime, :checked => true %>
                      </div>

                  <% when '0' %>

                      <div class="col-md-6">
                        <%= f.label :ontime, 'By checking this box you are indication report will be submitted on time.' %><br>
                        <%= f.check_box :ontime, :checked => false %>
                      </div>

                  <% else %>

                      <div class="col-md-6">
                        <%= f.label :ontime, 'By checking this box you are indication report will be submitted on time.' %><br>
                        <%= f.check_box :ontime, :checked => false %>
                      </div>

                <% end %>

            </div>
          </div>
        </div>

      </div>
      <!-- end of panel -->

      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#bs-collapse" href="#two">
              Notice From Committee
            </a>
          </h4>
        </div>
        <div id="two" class="panel-collapse collapse">
          <div class="panel-body">

            <% case $noticecheck %>
            <% when '1' %>

            <div class="field">

              <%= f.label :noticecheck, 'Not Applicable' %><br>
              <%= f.check_box :noticecheck, :checked => true %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>

            </div>

            <% when '0' %>

                <div class="field">

                  <%= f.label :noticecheck, 'Not Applicable' %><br>
                  <%= f.check_box :noticecheck, :checked => false %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>

                </div>

            <% else %>

                <div class="field">

                  <%= f.label :noticecheck, 'Not Applicable' %><br>
                  <%= f.check_box :noticecheck, :checked => false %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>

                </div>


            <% end %>


            <div id="NoticeFromCom">
              <%= f.fields_for :committee_notices do |committee_notice| %>
                  <%= render 'committee_notice_fields', f: committee_notice %>
              <% end %>
              <div class="links">
                <%= link_to_add_association "Add Notice", f,:committee_notices %>
              </div>
            </div></br>

          </div>

        </div>
      </div>
      <!-- end of panel -->

      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#bs-collapse" href="#three">
              Contributions
            </a>
          </h4>
        </div>
        <div id="three" class="panel-collapse collapse">
          <div class="panel-body">

            <% case $noticecheck %>
            <% when '1' %>

            <div class="field">
              <%= f.label :contributioncheck, 'Not Applicable' %><br>
              <%= f.check_box :contributioncheck, :checked => true %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
            </div>

            <% when '0' %>

                <div class="field">
                  <%= f.label :contributioncheck, 'Not Applicable' %><br>
                  <%= f.check_box :contributioncheck, :checked => false %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
                </div>

            <% else %>

                <div class="field">
                  <%= f.label :contributioncheck, 'Not Applicable' %><br>
                  <%= f.check_box :contributioncheck, :checked => true %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
                </div>

            <% end %>

            <div id="Contributions">
              <%= f.fields_for :contributions do |contribution| %>
                  <%= render 'contribution_fields', f: contribution %>
              <% end %>
              <div class="links">
                <%= link_to_add_association "Add Contribution", f,:contributions %>
              </div>
            </div></br>

          </div>
        </div>
      </div>
      <!-- end of panel -->

      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#bs-collapse" href="#four">
              Expenditure
            </a>
          </h4>
        </div>
        <div id="four" class="panel-collapse collapse in">
          <div class="panel-body">

            <% case $expenditurecheck %>
            <% when '1' %>

            <div class="field">
              <%= f.label :expenditurecheck, 'Not Applicable' %><br>
              <%= f.check_box :expenditurecheck, :checked => true %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
            </div>

            <% when '0' %>

                <div class="field">
                  <%= f.label :expenditurecheck, 'Not Applicable' %><br>
                  <%= f.check_box :expenditurecheck, :checked => false %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
                </div>

            <% else %>

                <div class="field">
                  <%= f.label :expenditurecheck, 'Not Applicable' %><br>
                  <%= f.check_box :expenditurecheck, :checked => false %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
                </div>

            <% end %>

            <div id="Expenditures">
              <%= f.fields_for :expenditures do |expenditure| %>
                  <%= render 'expenditure_fields', f: expenditure %>
              <% end %>
              <div class="links">
                <%= link_to_add_association "Add Expenditure", f,:expenditures %>
              </div>
            </div></br>

          </div>
        </div>
      </div>
      <!-- end of panel -->

      <div class="panel">
        <div class="panel-heading">
           <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#bs-collapse" href="#five">
               Loans
             </a>
           </h4>
        </div>
      <div id="five" class="panel-collapse collapse in">
        <div class="panel-body">

          <% case $loancheck %>
          <% when '1' %>

          <div class="field">
            <%= f.label :loancheck, 'Not Applicable' %><br>
            <%= f.check_box :loancheck, :checked => true %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
          </div>

          <% when '0' %>

              <div class="field">
                <%= f.label :loancheck, 'Not Applicable' %><br>
                <%= f.check_box :loancheck, :checked => false %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
              </div>

          <% else %>

              <div class="field">
                <%= f.label :loancheck, 'Not Applicable' %><br>
                <%= f.check_box :loancheck, :checked => false %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
              </div>

          <% end %>

          <div id="Loans">
            <%= f.fields_for :loans do |loan| %>
                <%= render 'loan_fields', f: loan %>
            <% end %>
            <div class="links">
              <%= link_to_add_association "Add Lender", f,:loans %>
            </div>
          </div></br>
        </div>
      </div>
      </div>
                <!-- end of panel -->

      <div class="panel">
       <div class="panel-heading">
            <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#bs-collapse" href="#six">
               Payment From Political Contribution to a Business of C/OH
             </a>
            </h4>
           </div>
          <div id="six" class="panel-collapse collapse in">
        <div class="panel-body">

          <% case $paytocohcheck %>
          <% when '1' %>

          <div class="field">
            <%= f.label :paytocohcheck, 'Not Applicable' %><br>
            <%= f.check_box :paytocohcheck, :checked => true %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
          </div>

          <% when '0' %>

              <div class="field">
                <%= f.label :paytocohcheck, 'Not Applicable' %><br>
                <%= f.check_box :paytocohcheck, :checked => false %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
              </div>

          <% else %>

              <div class="field">
                <%= f.label :paytocohcheck, 'Not Applicable' %><br>
                <%= f.check_box :paytocohcheck, :checked => false %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
              </div>

          <% end %>

          <div id="COH Payments">
            <%= f.fields_for :coh_payments do |coh_payment| %>
                <%= render 'coh_payment_fields', f: coh_payment %>
            <% end %>
            <div class="links">
              <%= link_to_add_association "Add Payment", f,:coh_payments %>
            </div>
          </div></br>
        </div>
       </div>
      </div>
                <!-- end of panel -->

                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#bs-collapse" href="#seven">
                        Purchase of Investments
                      </a>
                    </h4>
                  </div>
                  <div id="seven" class="panel-collapse collapse in">
                    <div class="panel-body">

                      <% case $investmentcheck %>
                      <% when '1' %>

                      <div class="field">
                        <%= f.label :investmentcheck, 'Not Applicable' %><br>
                        <%= f.check_box :investmentcheck, :checked => true %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
                      </div>

                      <% when '0' %>

                          <div class="field">
                            <%= f.label :investmentcheck, 'Not Applicable' %><br>
                            <%= f.check_box :investmentcheck, :checked => false %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
                          </div>

                      <% else %>

                          <div class="field">
                            <%= f.label :investmentcheck, 'Not Applicable' %><br>
                            <%= f.check_box :investmentcheck, :checked => false %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
                          </div>

                      <% end %>

                      <div id="Investment Purchases">
                        <%= f.fields_for :investment_purchases do |investment_purchase| %>
                            <%= render 'investment_purchase_fields', f: investment_purchase %>
                        <% end %>
                        <div class="links">
                          <%= link_to_add_association "Add Investments", f,:investment_purchases %>
                        </div>
                      </div></br>
                    </div>
                  </div>
                </div>





      <div class="panel">
       <div class="panel-heading">
        <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#bs-collapse" href="#eight">
           Interest Earned, Other Credits/Gains/Refunds
         </a>
         </h4>
       </div>
         <div id="eight" class="panel-collapse collapse in">
          <div class="panel-body">

            <% case $creditcheck %>
            <% when '1' %>

            <div class="field">
              <%= f.label :creditcheck, 'Not Applicable' %><br>
              <%= f.check_box :creditcheck, :checked => true %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
            </div>

            <% when '0' %>

                <div class="field">
                  <%= f.label :creditcheck, 'Not Applicable' %><br>
                  <%= f.check_box :creditcheck, :checked => false %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
                </div>

            <% else %>

                <div class="field">
                  <%= f.label :creditcheck, 'Not Applicable' %><br>
                  <%= f.check_box :creditcheck, :checked => false %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
                </div>

          <% end %>

            <div id="Credits">
              <%= f.fields_for :credits do |credit| %>
                  <%= render 'credit_fields', f: credit %>
              <% end %>
              <div class="links">
                <%= link_to_add_association "Add Credits", f,:credits %>
              </div>
            </div></br>
          </div>
       </div>
      </div>
                <!-- end of panel -->


                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#bs-collapse" href="#nine">
                        Travel
                      </a>
                    </h4>
                  </div>
                  <div id="nine" class="panel-collapse collapse in">
                    <div class="panel-body">

                      <% case $travelcheck %>
                      <% when '1' %>

                      <div class="field">
                        <%= f.label :travelcheck, 'Not Applicable' %><br>
                        <%= f.check_box :travelcheck, :checked => true %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
                      </div>

                      <% when '0' %>

                          <div class="field">
                            <%= f.label :travelcheck, 'Not Applicable' %><br>
                            <%= f.check_box :travelcheck, :checked => false %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
                          </div>

                      <% else %>

                          <div class="field">
                            <%= f.label :travelcheck, 'Not Applicable' %><br>
                            <%= f.check_box :travelcheck, :checked => false %><p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
                          </div>

                      <% end %>

                      <div id="Travels">
                        <%= f.fields_for :travels do |travel| %>
                            <%= render 'travel_fields', f: travel %>
                        <% end %>
                        <div class="links">
                          <%= link_to_add_association "Add Travel", f,:travels %>
                        </div>
                      </div></br>
                    </div>
                  </div>
                </div>
                <!-- end of panel -->



                </div>
    <!-- end of #bs-collapse  -->

  </div>



</div>
<!-- end of container -->

                <%= f.submit 'Export', name: 'commit', value: 'Export' %>
                <%= f.submit 'Submit', name: 'commit', value: 'Submit' %>
                <%= f.submit 'Import', name: 'commit', value: 'Import' %>


<% end %>
<% end %>
