<div class="nested-fields">
 <div class ="row">
<div class="col-md-3">
  <%= f.label :prefix_id, 'Prefix' %><br>
  <%= f.number_field :prefix_id %>
</div>
<div class="col-md-3">
  <%= f.label :entity_type_id, 'Investor Type' %><br>
  <%= f.number_field :entity_type_id %>
</div>
<div class="col-md-3">
  <%= f.label :investorname, 'Investor' %><br>
  <%= f.text_field :investorname %>
</div>
<div class="col-md-3">
  <%= f.label :address, 'Address' %><br>
  <%= f.text_field :address %>
</div>
<div class="col-md-3">
  <%= f.label :city, 'City' %><br>
  <%= f.text_field :city %>
</div>
<div class="col-md-3">
  <%= f.label :state_id, 'State' %><br>
  <%= f.number_field :state_id %>
</div>
<div class="col-md-3">
  <%= f.label :zip, 'Zip' %><br>
  <%= f.text_field :zip %>
</div>
<div class="col-md-3">
  <%= f.label :amount, 'Amount' %><br>
  <%= f.text_field :amount %>
</div>
<div class="col-md-3">
  <%= f.label :date, 'Date' %><br>
  <%= f.date_select :date %>
</div>
<div class="col-md-3">
  <%= f.label :description, 'Description' %><br>
  <%= f.text_area :description %>
</div>
</div>


</div>
  <%= link_to_remove_association "Remove", f %>
</div>
