<div class="nested-fields">
  <div class="field">
    <%= f.label :prefix_id %><br>
    <%= f.number_field :prefix_id %>
  </div>
  <div class="field">
    <%= f.label :entity_type_id %><br>
    <%= f.number_field :entity_type_id %>
  </div>
  <div class="field">
    <%= f.label :lendername %><br>
    <%= f.text_field :lendername %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state_id %><br>
    <%= f.number_field :state_id %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :isfinancialinstitution %><br>
    <%= f.check_box :isfinancialinstitution %>
  </div>
  <div class="field">
    <%= f.label :isoutofstatpac %><br>
    <%= f.check_box :isoutofstatpac %>
  </div>
  <div class="field">
    <%= f.label :pacid %><br>
    <%= f.text_field :pacid %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :interestrate %><br>
    <%= f.text_field :interestrate %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :maturitydate %><br>
    <%= f.date_select :maturitydate %>
  </div>
  <div class="field">
    <%= f.label :collateraldescription %><br>
    <%= f.text_area :collateraldescription %>
  </div>
  <div class="field">
    <%= f.label :ispersonalfunddeposit %><br>
    <%= f.check_box :ispersonalfunddeposit %>
  </div>
</div>
<%= link_to_remove_association "Remove", f %>
</div>
