<div class="nested-fields">
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :form_type_id %><br>
    <%= f.number_field :form_type_id %>
  </div>
  <div class="field">
    <%= f.label :travelbegin %><br>
    <%= f.date_select :travelbegin %>
  </div>
  <div class="field">
    <%= f.label :travelend %><br>
    <%= f.date_select :travelend %>
  </div>
  <div class="field">
    <%= f.label :prefix_id %><br>
    <%= f.number_field :prefix_id %>
  </div>
  <div class="field">
    <%= f.label :travelername %><br>
    <%= f.text_field :travelername %>
  </div>
  <div class="field">
    <%= f.label :departureloc %><br>
    <%= f.text_field :departureloc %>
  </div>
  <div class="field">
    <%= f.label :destinationloc %><br>
    <%= f.text_field :destinationloc %>
  </div>
  <div class="field">
    <%= f.label :transportation %><br>
    <%= f.text_field :transportation %>
  </div>
  <div class="field">
    <%= f.label :purpose %><br>
    <%= f.text_area :purpose %>
  </div>
</div>
<%= link_to_remove_association "Remove", f %>
</div>
