<div class="nested-fields">
  <div class ="row">
  <div class="col-md-3">
    <%= f.label :name, 'Name' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="col-md-3">
    <%= f.label :form_type_id, 'Form Type' %><br>
    <%= f.number_field :form_type_id %>
  </div>
  <div class="col-md-3">
    <%= f.label :travelbegin, 'Travel Begin' %><br>
    <%= f.date_select :travelbegin %>
  </div>
  <div class="col-md-3">
    <%= f.label :travelend, 'Travel End' %><br>
    <%= f.date_select :travelend %>
  </div>
  <div class="col-md-3">
    <%= f.label :prefix_id, 'Prefix' %><br>
    <%= f.number_field :prefix_id %>
  </div>
  <div class="col-md-3">
    <%= f.label :travelername,'Traveler Name' %><br>
    <%= f.text_field :travelername %>
  </div>
  <div class="col-md-3">
    <%= f.label :departureloc, 'Departure Loc' %><br>
    <%= f.text_field :departureloc %>
  </div>
  <div class="col-md-3">
    <%= f.label :destinationloc, 'Destnation Loc' %><br>
    <%= f.text_field :destinationloc %>
  </div>
  <div class="col-md-3">
    <%= f.label :transportation, 'Transportation' %><br>
    <%= f.text_field :transportation %>
  </div>
  <div class="col-md-3">
    <%= f.label :purpose, 'Purpose' %><br>
    <%= f.text_area :purpose %>
  </div>
</div>
  </div>
<%= link_to_remove_association "Remove", f %>
</div>
