<p id="notice"><%= notice %></p>
<div class ="row">
  <div class="col-md-5"><p>
  <strong>Report Name:</strong>
  <%= @campaign_finance_info.filename %>
</p></div>
  <div class="col-md-5"><p>
  <strong>Filer:</strong>
  <%= @campaign_finance_info.filer_id %>
</p></div>

  <div class="col-md-5"><p>
  <strong>Report Type:</strong>
  <%= @campaign_finance_info.report_type_id %>
</p></div>

  <div class="col-md-5"><p>
  <strong>Candidate:</strong>
  <%= @campaign_finance_info.candidate_id %>
</p></div>

  <div class="col-md-5"><p>
  <strong>Treasurer:</strong>
  <%= @campaign_finance_info.treasurer_id %>
</p></div>

  <div class="col-md-5"><p>
  <strong>Election Type:</strong>
  <%= @campaign_finance_info.election_type_id %>
</p></div>

  <div class="col-md-5"><p>
  <strong>Sudmit Date:</strong>
  <%= @campaign_finance_info.sudmitdate %>
</p></div>
  <div class="col-md-5"><p>
  <strong>Campaign Year:</strong>
  <%= @campaign_finance_info.campaignyear %>
</p></div>

  <div class="col-md-5"><p>
  <strong>Ontime:</strong>
  <%= @campaign_finance_info.ontime %>
</p></div>
  <div class="col-md-5"><p>
  <strong>Periodbegin:</strong>
  <%= @campaign_finance_info.periodbegin %>
</p></div>

  <div class="col-md-5"><p>
  <strong>Periodend:</strong>
  <%= @campaign_finance_info.periodend %>
</p></div>

  <div class="col-md-5"><p>
  <strong>Electiondate:</strong>
  <%= @campaign_finance_info.electiondate %>
</p></div>
</div>

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<table>
  <% if @campaign_finance_info.committee_notices.present? %>
      <h4>Notice From Committee</h4>
      <% @campaign_finance_info.committee_notices.each do |committee_notice| %>
          <thead>
          <tr>
            <th>Name</th>
            <th>Committee Type</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th colspan="3"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><%= committee_notice.name %></td>
            <td><%= committee_notice.committee_type_id %></td>
            <td><%= committee_notice.address %></td>
            <td><%= committee_notice.city %></td>
            <td><%= committee_notice.state_id %></td>
            <td><%= committee_notice.zip %></td>
          </tr>
          </tbody>
      <% end %>
      </table>
  <% else %>
      <h5>No Notice From Committee(s)</h5>
  <% end %>
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<table>
  <% if @campaign_finance_info.contributions.present? %>
      <h4>Contributions</h4>
      <% @campaign_finance_info.contributions.each do |contribution| %>
          <thead>
          <tr>
            <th>Date</th>
            <th>Contributor Type</th>
            <th>Prefix</th>
            <th>Contributor Name</th>
            <th>Out of State PAC</th>
            <th>PAC ID #</th>
            <th>Contributor Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Amount</th>
            <th>Description</th>
            <th colspan="3"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><%= contribution.date  %></td>
            <td><%= contribution.contribution_type_id %></td>
            <td><%= contribution.prefix_id %></td>
            <td><%= contribution.contributorname %></td>
            <td><%= contribution.isoutofstatepac %></td>
            <td><%= contribution.pacid %></td>
            <td><%= contribution.address %></td>
            <td><%= contribution.city %></td>
            <td><%= contribution.state_id %></td>
            <td><%= contribution.zip %></td>
            <td><%= contribution.amount %></td>
            <td><%= contribution.description %></td>
          </tr>
          </tbody>
      <% end %>
      </table>
  <% else %>
      <h5>No Contributions For This Report</h5>
  <% end %>
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<table>
  <% if @campaign_finance_info.expenditures.present? %>
      <h4>Expenditures</h4>
      <% @campaign_finance_info.expenditures.each do |expenditure| %>
  <thead>
  <tr>
    <th>Expend type</th>
    <th>Expend category</th>
    <th>Payment method</th>
    <th>Prefix</th>
    <th>Entity type</th>
    <th>Contributorname</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Description</th>
    <th>Isbenefitcoh</th>
    <th>Istraveloutsidetx</th>
    <th>Isreimbursementintended</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= expenditure.expend_type_id %></td>
        <td><%= expenditure.expend_category_id %></td>
        <td><%= expenditure.payment_method_id %></td>
        <td><%= expenditure.prefix_id %></td>
        <td><%= expenditure.entity_type_id %></td>
        <td><%= expenditure.contributorname %></td>
        <td><%= expenditure.address %></td>
        <td><%= expenditure.city %></td>
        <td><%= expenditure.state_id %></td>
        <td><%= expenditure.zip %></td>
        <td><%= expenditure.amount %></td>
        <td><%= expenditure.date %></td>
        <td><%= expenditure.description %></td>
        <td><%= expenditure.isbenefitCOH %></td>
        <td><%= expenditure.istraveloutsidetx %></td>
        <td><%= expenditure.isreimbursementintended %></td>
      </tr>
  </tbody>
  <% end %>
</table>
  <% else %>
      <h5>No Expenditure For This Report</h5>
  <% end %>
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<table>
    <% if @campaign_finance_info.loans.present? %>
        <h4>Loans</h4>
        <% @campaign_finance_info.loans.each do |loan| %>
            <thead>
            <tr>
              <th>Prefix</th>
              <th>Entity type</th>
              <th>Lendername</th>
              <th>Address</th>
              <th>City</th>
              <th>State</th>
              <th>Zip</th>
              <th>Isfinancialinstitution</th>
              <th>Isoutofstatpac</th>
              <th>Pacid</th>
              <th>Amount</th>
              <th>Interestrate</th>
              <th>Date</th>
              <th>Maturitydate</th>
              <th>Collateraldescription</th>
              <th>Ispersonalfunddeposit</th>
              <th colspan="3"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><%= loan.prefix_id %></td>
              <td><%= loan.entity_type_id %></td>
              <td><%= loan.lendername %></td>
              <td><%= loan.address %></td>
              <td><%= loan.city %></td>
              <td><%= loan.state_id %></td>
              <td><%= loan.zip %></td>
              <td><%= loan.isfinancialinstitution %></td>
              <td><%= loan.isoutofstatpac %></td>
              <td><%= loan.pacid %></td>
              <td><%= loan.amount %></td>
              <td><%= loan.interestrate %></td>
              <td><%= loan.date %></td>
              <td><%= loan.maturitydate %></td>
              <td><%= loan.collateraldescription %></td>
              <td><%= loan.ispersonalfunddeposit %></td>
            </tr>
            </tbody>
        <% end %>
        </table>
    <% else %>
        <h5>No Loans For This Report</h5>
    <% end %>
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<table>
    <% if @campaign_finance_info.coh_payments.present?%>
        <h4>Payments from Political Contribution to Business of C/OH</h4>
        <% @campaign_finance_info.coh_payments.each do |coh_payment| %>
            <thead>
            <tr>
              <th>Expend category</th>
              <th>Prefix</th>
              <th>Entity type</th>
              <th>Businessname</th>
              <th>Address</th>
              <th>City</th>
              <th>State</th>
              <th>Zip</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Description</th>
              <th>Isbenefitcoh</th>
              <th>Istraveloutsidetx</th>
              <th>Isaustintxlivingexpense</th>
              <th colspan="3"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><%= coh_payment.expend_category_id %></td>
              <td><%= coh_payment.prefix_id %></td>
              <td><%= coh_payment.entity_type_id %></td>
              <td><%= coh_payment.businessname %></td>
              <td><%= coh_payment.address %></td>
              <td><%= coh_payment.city %></td>
              <td><%= coh_payment.state_id %></td>
              <td><%= coh_payment.zip %></td>
              <td><%= coh_payment.amount %></td>
              <td><%= coh_payment.date %></td>
              <td><%= coh_payment.description %></td>
              <td><%= coh_payment.isbenefitcoh %></td>
              <td><%= coh_payment.istraveloutsidetx %></td>
              <td><%= coh_payment.isaustintxlivingexpense %></td>
            </tr>
            </tbody>
        <% end %>
        </table>
    <% else %>
        <h5>No Payments from Political Contribution to Business of C/OH For This Report</h5>
    <% end %>
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<table>
    <% if @campaign_finance_info.credits.present?%>
        <h4>Payments from Political Contribution to Business of C/OH</h4>
        <% @campaign_finance_info.credits.each do |credit| %>
            <thead>
            <tr>
              <th>Prefix</th>
              <th>Entity type</th>
              <th>Creditorname</th>
              <th>Address</th>
              <th>City</th>
              <th>State</th>
              <th>Zip</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Purpose</th>
              <th>Isreturnedtofiler</th>
              <th colspan="3"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><%= credit.campaign_finance_info_id %></td>
              <td><%= credit.prefix_id %></td>
              <td><%= credit.entity_type_id %></td>
              <td><%= credit.creditorname %></td>
              <td><%= credit.address %></td>
              <td><%= credit.city %></td>
              <td><%= credit.state_id %></td>
              <td><%= credit.zip %></td>
              <td><%= credit.amount %></td>
              <td><%= credit.date %></td>
              <td><%= credit.purpose %></td>
              <td><%= credit.isreturnedtofiler %></td>
            </tr>
            </tbody>
        <% end %>
        </table>
    <% else %>
        <h5>No Interest Earned For This Report</h5>
    <% end %>
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--
  <table>
    <% if @campaign_finance_info.travels.present?%>
        <h4>Travel</h4>
        <% @campaign_finance_info.travels.each do |travel| %>
            <thead>
            <tr>
              <th>Name</th>
              <th>Form type</th>
              <th>Travelbegin</th>
              <th>Travelend</th>
              <th>Prefix</th>
              <th>Travelername</th>
              <th>Departureloc</th>
              <th>Destinationloc</th>
              <th>Transportation</th>
              <th>Purpose</th>
              <th colspan="3"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><%= travel.name %></td>
              <td><%= travel.form_type_id %></td>
              <td><%= travel.travelbegin %></td>
              <td><%= travel.travelend %></td>
              <td><%= travel.prefix_id %></td>
              <td><%= travel.travelername %></td>
              <td><%= travel.departureloc %></td>
              <td><%= travel.destinationloc %></td>
              <td><%= travel.transportation %></td>
              <td><%= travel.purpose %></td>
            </tr>
            </tbody>
        <% end %>
  </table>
    <% else %>
        <h5>No Travel(s) For This Report</h5>
    <% end %>
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--

<%= link_to 'Edit', edit_campaign_finance_info_path(@campaign_finance_info) %>
<%= link_to 'Back', campaign_finance_infos_path %>
