<p id="notice"><%= notice %></p>

<p>
  <strong>Filer:</strong>
  <%= @campaign_finance_info.filer_id %>
</p>

<p>
  <strong>Report type:</strong>
  <%= @campaign_finance_info.report_type_id %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @campaign_finance_info.candidate_id %>
</p>

<p>
  <strong>Treasurer:</strong>
  <%= @campaign_finance_info.treasurer_id %>
</p>

<p>
  <strong>Election type:</strong>
  <%= @campaign_finance_info.election_type_id %>
</p>

<p>
  <strong>Sudmitdate:</strong>
  <%= @campaign_finance_info.sudmitdate %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @campaign_finance_info.filename %>
</p>

<p>
  <strong>Campaignyear:</strong>
  <%= @campaign_finance_info.campaignyear %>
</p>

<p>
  <strong>Ontime:</strong>
  <%= @campaign_finance_info.ontime %>
</p>

<p>
  <strong>Periodbegin:</strong>
  <%= @campaign_finance_info.periodbegin %>
</p>

<p>
  <strong>Periodend:</strong>
  <%= @campaign_finance_info.periodend %>
</p>

<p>
  <strong>Electiondate:</strong>
  <%= @campaign_finance_info.electiondate %>
</p>

<table class="table table-bordered">
<% if @campaign_finance_info.contributions.present? %>
    <h4>Contributions</h4>
    <% @campaign_finance_info.contributions.each do |contribution| %>
<div class="row"> <strong>Date:</strong>
        <p><%= contribution.date %></p> </div>
<div class="col-md-2"><strong>Contributor Type:</strong>
        <p><%= contribution.contribution_type_id %></p></div>
<div class="row"><strong>Prefix:</strong>
        <p><%= contribution.prefix_id %></p></div>
<div class="col-md-2"> <strong>Contributor Name:</strong>
        <p><%= contribution.contributorname %></p></div>
<div class="col-md-2"><strong>Out of State PAC:</strong>
        <p><%= contribution.isoutofstatepac %></p></div>
<div class="col-md-2"><strong>PAC ID #:</strong>
        <p><%= contribution.pacid %></p></div>
<div class="col-md-2"><strong>Contributor Address:</strong>
        <p><%= contribution.address %></p></div>
<div class="col-md-2"> <strong>City:</strong>
        <p><%= contribution.city %></p></div>
<div class="col-md-2"><strong>State:</strong>
        <p><%= contribution.state_id %></p></div>
<div class="col-md-2"> <strong>Zip Code:</strong>
        <p><%= contribution.zip %></p></div>
<div class="col-md-2"><strong>Contribution Date:</strong>
        <p><%= contribution.date %></p></div>
<div class="col-md-2"><strong>Amount:</strong>
        <p><%= contribution.amount %></p></div>
<div class="col-md-2"><strong>Description:</strong>
        <p><%= contribution.description %></p></div><br>

    <% end %>
<% else %>
    <h5>No Contributions For This Report</h5>
<% end %>
</table>

<% if @campaign_finance_info.expenditures.present? %>
    <h4>Expenditures</h4>
    <% @campaign_finance_info.expenditures.each do |expenditure| %>
        <strong>Description:</strong>
        <p><%= expenditure.description %></p>
        <strong>Contribution Date:</strong>
        <p><%= expenditure.date %></p>
        <strong>Amount:</strong>
        <p><%= expenditure.amount %></p>
    <% end %>
<% else %>
    <h5>No Expenditure For This Report</h5>
<% end %>

<% if @campaign_finance_info.loans.present? %>
    <h4>Loans</h4>
    <% @campaign_finance_info.loans.each do |loan| %>
        <strong>Description:</strong>
        <p><%= loan.description %></p>
        <strong>Contribution Date:</strong>
        <p><%= loan.date %></p>
        <strong>Amount:</strong>
        <p><%= loan.amount %></p>

    <% end %>
<% else %>
    <h5>No Loans For This Report</h5>
<% end %>

<div class="row">
<% if @campaign_finance_info.coh_payments.present? %>
    <h4>Payments from Political Contribution to Business of C/OH</h4>
    <% @campaign_finance_info.coh_payments.each do |coh_payment| %>
        <strong>Description:</strong>
        <p><%= coh_payment.description %></p>
        <strong>Contribution Date:</strong>
        <p><%= coh_payment.date %></p>
        <strong>Amount:</strong>
        <p><%= coh_payment.amount %></p>

    <% end %>
<% else %>
    <h5>No Payments from Political Contribution to Business of C/OH For This Report</h5>
<% end %>
</div>

<div class="row">
<% if @campaign_finance_info.credits.present? %>
    <h4>Interests Earned</h4>
    <% @campaign_finance_info.credits.each do |credit| %>
        <strong>Description:</strong>
        <p><%= credit.description %></p>
        <strong>Contribution Date:</strong>
        <p><%= credit.date %></p>
        <strong>Amount:</strong>
        <p><%= credit.amount %></p>

    <% end %>
<% else %>
    <h5>No Interest Earned For This Report</h5>
<% end %>
</div>


<%= link_to 'Edit', edit_campaign_finance_info_path(@campaign_finance_info) %> |
<%= link_to 'Back', campaign_finance_infos_path %>
