<%= form_for(@candidate) do |f| %>
  <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% @candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :prefix_id, 'Prefix' %><br>
    <%= f.collection_select :prefix_id, Prefix.all, :id, :prefix,{ prompt: "Select One" } %>
  </div>
  <div class="field">
    <%= f.label :office_held_id, 'Office Held' %><br>
    <%= f.collection_select :office_held_id, OfficeHeld.all, :id, :held,{ prompt: "Select One" } %>
  </div>
  <div class="field">
    <%= f.label :office_sought_id, 'Office Sought' %><br>
    <%= f.collection_select :office_sought_id, OfficeSought.all, :id, :sought,{ prompt: "Select One" } %>
  </div>
  <div class="field">
    <%= f.label :firstname, 'First Name' %><br>
    <%= f.text_field :firstname %>
  </div>
    <div class="field">
      <%= f.label :mi, 'Middle Initial' %><br>
      <%= f.text_field :mi %>
    </div>
  <div class="field">
    <%= f.label :lastname, 'Last Name' %><br>
    <%= f.text_field :lastname %>
  </div>
    <div class="field">
      <%= f.label :suffix, 'Suffix' %><br>
      <%= f.text_field :suffix %>
    </div>
  <div class="field">
    <%= f.label :alias, 'Alias' %><br>
    <%= f.text_field :alias %>
  </div>

  <div class="field">
    <%= f.label :phone, 'Phone' %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :extension, 'Extension' %><br>
    <%= f.text_field :extension %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
