<p id="notice"><%= notice %></p>

<h1>Listing Credits</h1>

<table>
  <thead>
    <tr>
      <th>Campaign finance info</th>
      <th>Prefix</th>
      <th>Entity type</th>
      <th>Creditorname</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Purpose</th>
      <th>Isreturnedtofiler</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credits.each do |credit| %>
      <tr>
        <td><%= credit.campaign_finance_info_id %></td>
        <td><%= credit.prefix_id %></td>
        <td><%= credit.entity_type_id %></td>
        <td><%= credit.creditorname %></td>
        <td><%= credit.address %></td>
        <td><%= credit.city %></td>
        <td><%= credit.state_id %></td>
        <td><%= credit.zip %></td>
        <td><%= credit.amount %></td>
        <td><%= credit.date %></td>
        <td><%= credit.purpose %></td>
        <td><%= credit.isreturnedtofiler %></td>
        <td><%= link_to 'Show', credit %></td>
        <td><%= link_to 'Edit', edit_credit_path(credit) %></td>
        <td><%= link_to 'Destroy', credit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Credit', new_credit_path %>
