<%= form_for(@treasurer) do |f| %>
  <% if @treasurer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@treasurer.errors.count, "error") %> prohibited this treasurer from being saved:</h2>

      <ul>
      <% @treasurer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prefix_id %><br>
    <%= f.collection_select :prefix_id, Prefix.all, :id, :prefix,{ prompt: "Select One" }%>
  </div>
  <div class="field">
    <%= f.label :firstname, 'First Name' %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :mi, 'Middle Initial' %><br>
    <%= f.text_field :mi %>
  </div>
  <div class="field">
    <%= f.label :lastname, 'Last Name' %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :alias, 'Alias' %><br>
    <%= f.text_field :alias %>
  </div>
  <div class="field">
    <%= f.label :suffix, 'Suffix' %><br>
    <%= f.text_field :suffix %>
  </div>
  <div class="field">
    <%= f.label :phone, 'Phone' %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :extension, 'Extension' %><br>
    <%= f.text_field :extension %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
