<p id="notice"><%= notice %></p>

<p>
  <strong>Campaign finance info:</strong>
  <%= @coh_payment.campaign_finance_info_id %>
</p>

<p>
  <strong>Expend category:</strong>
  <%= @coh_payment.expend_category_id %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @coh_payment.prefix_id %>
</p>

<p>
  <strong>Entity type:</strong>
  <%= @coh_payment.entity_type_id %>
</p>

<p>
  <strong>Businessname:</strong>
  <%= @coh_payment.businessname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @coh_payment.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @coh_payment.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @coh_payment.state_id %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @coh_payment.zip %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @coh_payment.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @coh_payment.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @coh_payment.description %>
</p>

<p>
  <strong>Isbenefitcoh:</strong>
  <%= @coh_payment.isbenefitcoh %>
</p>

<p>
  <strong>Istraveloutsidetx:</strong>
  <%= @coh_payment.istraveloutsidetx %>
</p>

<p>
  <strong>Isaustintxlivingexpense:</strong>
  <%= @coh_payment.isaustintxlivingexpense %>
</p>

<%= link_to 'Edit', edit_coh_payment_path(@coh_payment) %> |
<%= link_to 'Back', coh_payments_path %>
